        <div class="container main">
        
            <div class="jumbotron hero-spacer">
                <h1>About Movie Search</h1>
                <p>The greatest movie search site ever!</p>
            </div>
          
            <hr>
          
            <div class="row">
            
                <div class="col-md-6">
                    <img class="img-responsive" src="img/rottentomatoes.jpg">
                </div>
                <div class="col-md-6">
                    <h2>Searching for a Movie</h2>
                    <p>This is a great place to introduce to describe the benefits of searching for movies on Rotten Tomatoes.</p>
                    <p>Just enter a word or phrase to search. Filter the results with a second word or phrase.</p>
                </div>
                
            </div>
            
        </div><!-- /.container -->
